.posts {
	&__grid {
		&__row {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			&__item {
				flex-basis: 100%;
				-ms-flex: auto;
				width: 259px;
				position: relative;
				padding: 10px;
				box-sizing: border-box;
				position: relative;

				@media (min-width: $break-md) {
					flex-basis: 50%;
				}

				@media (min-width: $break-xl) {
					flex-basis: 33.33%;
				}
			}
		}

		&__thumbnail {
			height: 300px;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__title {
			position: absolute;
			max-width: 80%;
			bottom: 0;
			left: 0px;
			z-index: 10;
			background-color: $primary-green;
			opacity: 0.9;

			h3 {
				color: $white;
				margin: $gap-sm;
			}
		}
	}
}
