/*
* Sass mixins - reusable CSS
*
* https://sass-lang.com/documentation/at-rules/mixin
*/

@mixin align-responsive {
	text-align: center;

	@media (min-width: $break-md) {
		text-align: start;
	}
}

@mixin hover {
	transition: all 300ms ease-in-out;
	&:hover {
		opacity: 0.7;
	}
}
