/*
* Header styling
*/

.site-header {
	.navbar {
		width: 100%;
		// box-shadow: 0 1px 4px rgb(146 161 176 / 15%);

		.nav-container {
			position: relative;
			padding-top: $gap-xs;

			.check-container {
				position: relative;
				width: 32px;

				.checkbox {
					position: absolute;
					display: block;
					height: 32px;
					width: 32px;
					z-index: 100;
					opacity: 0;
					cursor: pointer;
				}

				.hamburger-lines {
					display: block;
					height: 26px;
					width: 32px;
					position: absolute;
					z-index: 99;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.line {
						display: block;
						height: 4px;
						width: 100%;
						border-radius: 10px;
						background-color: $secondary-green;
						// transition: background-color 1.5s ease-in-out;
					}

					.line1 {
						transform-origin: 0% 0%;
						transition: transform 0.5s ease-in;
					}

					.line2 {
						transition: transform 0.2s ease-in-out;
					}

					.line3 {
						transform-origin: 0% 100%;
						transition: transform 0.5s ease-in;
					}
				}
			}

			#primary-menu {
				ul {
					display: flex;
				}

				li {
					list-style: none;
					padding: 0 1rem;

					a {
						color: $secondary-green;

						&.active {
							font-weight: bolder;
							color: $primary-green;
						}
					}
				}
			}
		}

		#mobile-menu.menu-items {
			position: absolute;
			top: 0;
			z-index: 80;
			display: flex;
			padding-top: 20vh;
			height: 100vh;
			width: 100%;
			transform: translate(-150%);
			flex-direction: column;
			transition: transform 0.5s ease-in-out;
			text-align: center;
			background-color: $secondary-green;
			overflow: scroll;

			li {
				margin-bottom: 1.2rem;
				font-size: 1.5rem;
				font-weight: 500;
				list-style: none;

				a {
					text-decoration: none;
					color: $white;
					font-weight: 500;
					font-size: 1.2rem;

					&:hover {
						border-bottom: 2px solid $white;
					}

					&.active {
						font-weight: bolder;
					}
				}
			}
		}
	}

	.menu-items {
		li a {
			font-weight: normal;

			&:hover {
				border-bottom: 2px solid $secondary-green;
			}
		}
	}

	.logo {
		a {
			display: flex;
			align-items: center;
			height: 60px;
			width: 60px;

			@media (min-width: $break-md) {
				height: 80px;
				width: 80px;
			}

			@media (min-width: $break-xl) {
				height: 100px;
				width: 100px;
			}

			img {
				width: 100%;
			}
		}
	}

	.nav-container input[type="checkbox"]:checked ~ {
		.hamburger-lines {
			.line {
				background-color: $white;
			}

			.line1 {
				transform: rotate(45deg);
			}

			.line2 {
				transform: scaleY(0);
			}

			.line3 {
				transform: rotate(-45deg);
			}
		}
	}
}
