.wpem-main {
	color: $text-body;

	.wpem-single-event-wrapper {
		border: 3px solid $secondary-green !important;
	}

	.wpem-single-event-left-content::after {
		width: 3px !important;
	}

	.wpem-event-organizer {
		display: none !important;
	}

	.wpem-heading-text,
	.wpem-date {
		color: $secondary-green !important;
	}

	.wpem-event-type-text {
		color: $primary-green !important;
	}

	.wpem-event-layout-icon.wpem-active-layout {
		background-color: $primary-green !important;
	}

	.wpem-single-event-sidebar-info {
		margin-bottom: $gap-sm;
	}

	.wpem-single-event-left-content {
		&:after {
			background: $secondary-green !important;
		}
	}

	.wpem-event-single-image {
		img {
			max-height: 60vh;
			object-fit: cover;
		}
	}

	.wpem-social-icon {
		a {
			line-height: 0;
			font-size: 0;
			color: transparent;
		}

		&.wpem-xing {
			display: none !important;
		}
	}
}

.load_more_events {
	background-color: $primary-green !important;
	color: $white !important;

	@include hover;
}

.event_listings {
	margin-bottom: $gap-md;
}
